body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    background-image: url("https://raw.githubusercontent.com/mobalti/open-props-interfaces/refs/heads/main/ai-hero-chat-popover/assets/bg-gradient.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.875rem;
}

header {
    padding: 1.5rem;
}

header h1 {
    color: #1f2937;
}

header p {
    color: #4b5563;
}